.streetViewPanorama {
    width: 100%;
    height: 100%;
}

.minimapContainer {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    right: 2rem;
    bottom: 2rem;

    width: 400px;
    height: 300px;
    transition: 
        width .1s ease-in-out, 
        height .1s ease-in-out;

    gap: .5rem;

    z-index: 2;
}

.minimapContainer:hover {
    width: 600px;
    height: 400px;
}

.minimap {
    flex: 1;

    border-radius: .5rem;
}

.guessButton {
    padding: .75em;

    background-color: var(--primary);
    color: var(--white);

    font-family: var(--primary-font);
    font-size: 1rem;

    box-shadow: 0 0 5px black;

    cursor: pointer;

    border: none;
    border-radius: .5rem;
}
