.container {
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    color: var(--primary-dark);
}

.logo {
    color: var(--primary-dark);
    width: 100px;
    height: 100px;
}

.newChallengeCard {
    display: flex;
    flex-direction: column;
    align-items: center;   

    gap: 1rem;
}

.newChallengeCard > .infoCard {
    display: flex;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    gap: 1rem;
}
.newChallengeCard > .infoCard > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.streetViewPanorama {
    width: 100%;
    height: 100%;
}

.minimapContainer {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    right: 2rem;
    bottom: 2rem;

    width: 400px;
    height: 300px;
    transition: 
        width .1s ease-in-out, 
        height .1s ease-in-out;

    gap: .5rem;

    z-index: 2;
}

.minimapContainer:hover {
    width: 600px;
    height: 400px;
}

.minimap {
    flex: 1;

    border-radius: .5rem;
}

.button {
    padding: .75em;

    background-color: var(--primary);
    color: var(--white);

    font-family: var(--primary-font);
    font-size: 1rem;

    box-shadow: 0 0 5px black;

    cursor: pointer;

    border: none;
    border-radius: .5rem;
}
