.card {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 300px;
    align-items: center;

    gap: 1rem;

    padding: 1rem;

    border-radius: .5rem;

    box-shadow: 0 0 5px rgba(0,0,0,.25);
}

.card.horizontal {
    flex-direction: row;
}

.button {
    padding: .5rem;
    border-radius: 1rem;
    font-family: inherit;
    border: none;

    cursor: pointer;
}

.button:hover {
    filter: brightness(.9);
}

.button:active {
    filter: brightness(.8);
}

.button.primary {
    background-color: var(--primary-light);
    color: var(--white);
}

.button.secondary {
    background-color: var(--white);
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
}
