@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

:root {

	--primary-hue: 221;

	--primary: hsl(var(--primary-hue), 30%, 32%);
	--primary-light: hsl(var(--primary-hue), 25%, 46%);
	--primary-dark: hsl(var(--primary-hue), 25%, 25%);

	--backgroundgrey: hsl(220, 13%, 95%);
	--bordergrey: hsl(214, 19%, 93%);
	--white: hsl(0, 0%, 100%);
	--accept: hsl(109, 100%, 25%);
	--disabled: hsl(0, 0%, 54%);
	--danger: hsl(350, 89%, 54%);
	--warning: hsl(22, 89%, 54%);
	--wait: hsl(40, 89%, 54%);
	--info: hsl(200, 89%, 54%);

	--primary-font: Inter, Arial, Helvetica, sans-serif;
	--secondary-font: Nunito, Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  	margin: 0;
  	font-family: var(--primary-font), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	width: 100vw;
	height: 100vh;

	background-color: whitesmoke;
}

#root {
	width: 100%;
	height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Google maps requirements */

#map {
	height: 100%;
}
