.toastViewport {
    position: absolute;
    right: 0;
    
    max-height: 100%;
    /* height: 100%; */
    width: 18vw;

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.toastViewport.top {
    top: 0;
}
.toastViewport.bottom {
    bottom: 0;
}

.toastContainer {

    display: flex;
    
    /* background-color: rgba(0,0,0,.05); */  /* Just for visualization */
    
    padding: .5rem;
    gap: .5rem;
}
.toastContainer.top {
    flex-direction: column;
}
.toastContainer.bottom {
    flex-direction: column-reverse;
}